# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*-lock.json
*-lock.yaml
yarn.lock


# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/
dist
dist-ssr
*.local

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# for os, macOS / linux/Windows
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux/Unix
*~

# vim switch file/bak file
[.]*.s[a-v][a-z]
[.].sw[a-p]
[._].swo
[.]*.bak
[.]*.tmp

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# for IDE
#JetBrains
.idea/
*.iws
*.iml
*.ipr
*.pid

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# Sublime Text
*.sublime-workspace
*.sublime-project

# sensitive configuration files #
#*.env
#.env
.local